.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}

.light-background {
  background-color: #f8f9fa;
}

.dark-background {
  background-color: #343a40;
  color: #fff;
}

.highlight {
  border: 1px solid black;
}
